[Unit]
Description=CDP Sender Service
After=network.target

[Service]
ExecStart=/usr/local/bin/cdp_sender.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
